html, body{
    overscroll-behavior-y: contain;
    overscroll-behavior-x: contain;
}

body {
    font-size: 3em;
    text-align: center;
    background-color: grey;
}

#wrapper {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

p {
    background-color: black;
    color: white;
}

video {
    align-self: center;
    max-width: 400%;
    height: auto;
    overflow: hidden;
}